.cabecera{
    width: 100%;
    text-align: center;
    //background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,113,1) 35%, rgba(0,212,255,1) 100%);

}

.icono{
    font-size: 25px;
    padding-right: 10px;
    color: #097971;
}

.acordion{
    padding: 15px;
}

.header{
    //--background: rgba(24, 24, 202, 0.507);
    //--background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,113,1) 35%, rgba(0,212,255,1) 100%);

    color: white;
}

.faq-content{
    padding: 10px;
    font-size: 18px;
}