.redes{
    display: grid;
    gap: 20px;
    padding: 5px;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));   
}

a{
    text-decoration: none;
    color: aliceblue;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.icono-footer{
    width: 100%;
    font-size: 25px;
    color: white;
}

