<ion-footer class="footer">
  <div class="redes">
    <a href="https://www.facebook.com/david.parraga.146" target="_blank">
      <ion-icon name="logo-facebook"  class="icono-footer" style="color: #0765FC;"></ion-icon>
      Facebook
    </a>
  
    <a href="https://www.youtube.com/@davidparraga6043" target="_blank">
      <ion-icon name="logo-youtube"  class="icono-footer" style="color: #FF0033;"></ion-icon>
      Youtube
    </a>

    <a href="https://wa.me/593978819912" target="_blank">
      <ion-icon name="logo-whatsapp" class="icono-footer" style="color: #39C762;"></ion-icon>
      Whatsapp
    </a>
  </div>

  <div class="redes">
    <ion-button  class="a1"><a routerLink="/nosotros" (click)="irnosotros()">Nosotros</a></ion-button>
    
    <ion-button  class="a1"><a routerLink="/preguntas" (click)="preguntas()">Preguntas Frecuentes</a></ion-button>
    <ion-button  class="a1"><a routerLink="/horarios" (click)="horarios()">Horarios</a></ion-button>

  </div>
  
  <h5 class="copyright">
    Derechos reservados © Sigesta 2024
  </h5>

</ion-footer>