.Card_3 {
    border-radius: 30px;
    box-shadow: 0 4px 8px rgb(71, 222, 44);
    margin: 20px auto; 
    padding: 10px;
    width: 90%; 
    max-width: 600px; 
}

.mapa{
    display: flex;
    justify-content: center;
     
}
iframe{
    box-shadow: 0 9px 15px rgb(71, 222, 44);
}