<app-header-global >
</app-header-global>



<ion-content [fullscreen]="true">
  <section>

    <article>
      <ion-card class="Card_3">
      <ion-card-header>
        <ion-card-title>Mi tienda</ion-card-title>
        <ion-card-subtitle>Abierta las 24 horas, 7 dias de la semanas </ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        Encuentranos en: <br>
        Calle principal S/N <br>
        Calle Secundaria S/N <br>


       

        <ion-chip color="tertiary">Curso</ion-chip>
      </ion-card-content>
    </ion-card>

    </article>

    
    <article class="mapa">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.903890563037!2d-80.87864832479309!3d-2.2341286255697645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902e09206be299df%3A0x1d9970d6fdfee5c4!2sUniversidad%20Estatal%20Pen%C3%ADnsula%20de%20Santa%20Elena!5e0!3m2!1ses-419!2sec!4v1765581845588!5m2!1ses-419!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </article>
  </section>


<br><br>

  
</ion-content>
