.Card_1{
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(49, 61, 47);
    width: 50%;
    margin: 20px auto; //se centra, no olvidar!!
    padding: 10px;


}

.Card_2{
    border-radius: 30px;
    box-shadow: 0 4px 8px rgb(117, 230, 98);

}

ion-img {
    width: 100%;;
}

