<app-header-global >
</app-header-global>


<ion-content [fullscreen]="true">
  <!--Bienvenidad  -->

  <ion-searchbar placeholder="Busca productos" 
  (ionInput)="filtrar($event)">
  </ion-searchbar>
  
  <Section >
    
    <ion-card class="Card_3">
      <ion-card-header>
        <ion-card-title>Curso de Diseño Web</ion-card-title>
        <ion-card-subtitle>Upse crece sin limites </ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        Estudiante: Ronald David Parraga Mendoza. <br>
        Pratica del dia Martes 27 de noviembre del 2025 <br>
        <ion-chip color="tertiary">Curso</ion-chip>
      </ion-card-content>
    </ion-card>
  </Section>
  


  <section class="pt2">
    <ion-card class="Card_1" *ngFor="let p of productosFiltrados" >
      <img [src]="p.img" class="imagen_1" (click)="ver_modal(p)">
      <ion-card-header>
        <ion-card-title (click)="irvermas(p)">{{p.titulo}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>{{p.des}}</ion-card-content>

    </ion-card>
  </section>

  <!--Card secundarias-->
  <section>
  
    <ion-card class="Card_2">
      <ion-card-header>
        <ion-card-title>S I G E S T A </ion-card-title>
        <ion-card-subtitle>Sistema de gestion de tareas</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/Img1.png" />
            </ion-thumbnail>
            <ion-label>Logo del empredimiento</ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/img2.jpg" />
            </ion-thumbnail>
            <ion-label>Un gatito gordito</ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/img4.jpeg" />
            </ion-thumbnail>
            <ion-label>Un perrito con una sandia en la cabeza </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/imgz.webp" />
            </ion-thumbnail>
            <ion-label>Este gatito arcoiris </ion-label>
          </ion-item>
        </ion-list> 
      </ion-card-content>
    </ion-card>

    
</section>



<br><br>
<app-footer-global >
  
</app-footer-global>

</ion-content>