<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <Section >
    <!--Bienvenidad-->
    <ion-card class="Card_3" (click)="irvermas()">
      <ion-card-header>
        <ion-card-title>Curso de Diseño Web</ion-card-title>
        <ion-card-subtitle>Upse crece sin limites </ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        Estudiante: Ronald David Parraga Mendoza. <br>
        Pratica del dia Martes 25 de noviembre del 2025 <br>
        <ion-chip color="tertiary">Curso</ion-chip>
      </ion-card-content>
    </ion-card>
  </Section>

  <section class="pt2">
    <!--CARD PRINCIPALES-->
    <!--Card #1-->
    <ion-card class="Card_1">
      <ion-img src="assets/img/Img1.png" class="imagen_1"></ion-img>
      <ion-text color="primary">
        <h5>Logo del sistema de gestion de tareas</h5>
      </ion-text>
      <ion-text color="dark">
        <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio minus quasi unde illum repudiandae velit nostrum molestiae tempore nobis modi quam ipsam mollitia ut, voluptates, maiores officia eius, expedita ipsa?</h4>
      </ion-text>
    </ion-card>
  <!--Card #2-->
    <ion-card class="Card_1">
      <ion-img src="assets/img/img1.jpg" class="imagen_1"></ion-img>
      <ion-text>
        <h3>Lorem ipsum dolor</h3>
      </ion-text>
      
      <ion-text>
        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et explicabo quae quos dolorum illo id, delectus nesciunt perspiciatis culpa libero, cum dolorem aperiam minus ut iure. Distinctio consequuntur illo aspernatur.</h4>
      </ion-text>
    </ion-card>
    <!--Card #3-->    
    <ion-card class="Card_1">
      <ion-img src="assets/img/img2.jpg" class="imagen_1"></ion-img>
      <ion-text color="primary">
        <h3>Logo del sistema de gestion de tareas</h3>
      </ion-text>
      
      <ion-text color="dark">
        <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio minus quasi unde illum repudiandae velit nostrum molestiae tempore nobis modi quam ipsam mollitia ut, voluptates, maiores officia eius, expedita ipsa?</h4>
      </ion-text>
    </ion-card>
    
    <!--Card #4-->
    <ion-card class="Card_1">
      <ion-img src="assets/img/img3.jpg" class="imagen_1"></ion-img>
      <ion-text>
        <h3>Lorem ipsum dolor</h3>
      </ion-text>
      
      <ion-text>
        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et explicabo quae quos dolorum illo id, delectus nesciunt perspiciatis culpa libero, cum dolorem aperiam minus ut iure. Distinctio consequuntur illo aspernatur.</h4>
      </ion-text>
    </ion-card>
  </section>

  <section>
    <!--Card secundarias-->
    <ion-card class="Card_2">
      <ion-card-header>
        <ion-card-title>S I G E S T A </ion-card-title>
        <ion-card-subtitle>Sistema de gestion de tareas</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/Img1.png" />
            </ion-thumbnail>
            <ion-label>Logo del empredimiento</ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/img2.jpg" />
            </ion-thumbnail>
            <ion-label>Un gatito gordito</ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/img4.jpeg" />
            </ion-thumbnail>
            <ion-label>Un perrito con una sandia en la cabeza </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/imgz.webp" />
            </ion-thumbnail>
            <ion-label>Este gatito arcoiris </ion-label>
          </ion-item>
        </ion-list> 
      </ion-card-content>
    </ion-card>
</section>
  


</ion-content>
