.contenedor-vermas{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.imagen{
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(71, 222, 44, 0.5);
    margin-top: 20px;
}