<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi primera App con Ionic.
    </ion-title>

  </ion-toolbar>  
</ion-header>

<ion-content>
  
<!--
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="primary">
          <h1>NOMBRE</h1>
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text color="secondary">
          <h1>RONALD PARRAGA</h1>
        </ion-text>
      </ion-col>      
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-text color="tertiary">
          <h2>FECHA:</h2>
        </ion-text>
      </ion-col>
      
      <ion-col>
        <ion-text color="success">
          <h3>20 DE NOVIEMBRE DEL 2025</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    
    
    <ion-row>
      <ion-col>
        <ion-text color="warning">
          <h4>Universidad: </h4>
        </ion-text>
      </ion-col>
      
      <ion-col>
        <ion-text color="danger">
          <h5>UPSE</h5>
        </ion-text>
      </ion-col>
    </ion-row>
    
    <ion-row> 
      <ion-col>
        <small>CURSO</small>
      </ion-col>      
      
      <ion-col>
        <small>Diseño web</small>
        <ion-img src="assets/img/Img1.png" class="imagen_1"></ion-img>
      </ion-col>      
    </ion-row>
    
  </ion-grid>
  -->
  <section>

    <ion-card class="card">
      <ion-img src="assets/img/Img1.png" class="imagen_2"></ion-img>
      <ion-card-header>
        <ion-card-title>Sigesta</ion-card-title>
        <ion-card-subtitle>Sistema de gestion de tareas</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora minima, est, voluptate dicta perferendis ab veritatis eum dignissimos magni vero animi pariatur corrupti quisquam vitae facilis architecto, molestias atque temporibus!
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-img src="assets/img/Img1.png" class="imagen_1"></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-img src="assets/img/img1.jpg" class="imagen_1"></ion-img>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
    <ion-img src="assets/img/img2.jpg" class="imagen_1"></ion-img>
  </div>

        </ion-col>
        <ion-col>
           <div>
    <ion-img src="assets/img/img3.jpg" class="imagen_1"></ion-img>
  </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

    
      



 
  
 
  
 
 
 
</ion-content>