.pt2 {
    width: 100%;
    padding: 10px;
    display: grid;
    gap: 20px;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}


.Card_3 {
    border-radius: 30px;
    box-shadow: 0 4px 8px rgb(71, 222, 44);
    margin: 20px auto; 
    padding: 10px;
    width: 100%; 
    max-width: 600px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imagen_1 {
    max-width: 50%;
    border-radius: 30px;  
}