<app-header-global >
</app-header-global>



<ion-content [fullscreen]="true">
  <section class="pt2">
    <ion-card class="Card_3">
      <img src="assets/img/yoese.jpg"  alt="yoese" class="imagen_1">
      <ion-card-header>
        <ion-card-title>Parraga Mendoza Ronald David</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>Ingeniero de Software en formación desde Santa Elena, Ecuador. Entusiasta del desarrollo web.</div><br>
      <div>
        <strong>Tecnologías: <br></strong>
        <ion-chip color="primary">C++ </ion-chip>
        <ion-chip color="tertiary">PHP </ion-chip>
        <ion-chip color="warning">SQL</ion-chip>
      </div>
      <div>
        <strong>Idiomas: <br></strong>
        <ion-chip color="primary">Español (Nativo)</ion-chip>
        <ion-chip color="success">Portugués </ion-chip>
      </div>
      <div>
        <strong>Redes Sociales: <br></strong>
        <ion-chip color="primary">
          <a href="https://www.facebook.com/david.parraga.146" target="_blank">
            <ion-icon name="logo-facebook"  class="icono-footer" style="color: #0765FC;"></ion-icon>
          </a>
        </ion-chip>
        
        <ion-chip color="danger">
          <a href="https://www.youtube.com/@davidparraga6043" target="_blank">
            <ion-icon name="logo-youtube"  class="icono-footer" style="color: #FF0033;"></ion-icon>
          </a>
        </ion-chip>

        <ion-chip color="secondary">
          <a href="www.linkedin.com/in/david-parraga-b85a58270" target="_blank">
            <ion-icon name="logo-linkedin"  class="icono-footer" style="color: #0A66C2;"></ion-icon>
          </a>
        </ion-chip>



        
      </div>
    </ion-card-content>
    </ion-card>
  </section> 

</ion-content>
