.pt2 {
    display: grid;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}


.Card_3 {
    border-radius: 30px;
    box-shadow: 0 4px 8px rgb(71, 222, 44);
    margin: 20px auto; 
    padding: 10px;
  
    width: 90%; 
    max-width: 600px; 
}

.imagen_1 {
    border-radius: 30px;  
    
}