<app-header-global >
</app-header-global>



<ion-content [fullscreen]="true">
  <section class="pt2">
    <ion-card class="Card_3">
      <img src="assets/img/yoese.jpg"  alt="yoese" class="imagen_1">
      <ion-card-header>
        <ion-card-title>Parraga Mendoza Ronald David</ion-card-title>
        
    </ion-card-header>

    <ion-card-content>
      
    <br><br>
    Conocimientos: <br>
    <ion-chip color="success">Protugues </ion-chip>
    <ion-chip color="primary">C++ </ion-chip>
    <ion-chip color="primary">Php </ion-chip>
    <ion-chip color="warning">TOP GLOBAL DEL CURSO 3ERO SOFTWARE</ion-chip>
    </ion-card-content>

    </ion-card>
  </section> 
  <app-footer-global >
    
  </app-footer-global>
</ion-content>
